@import url('https://fonts.googleapis.com/css?family=Cinzel');

.navbar {
  background-color: white;
}
.navbar-brand {
  padding: 0;
}
.navbar-nav>li>a {
  padding: 37px 16px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 17px;
}
